@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.button {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	text-decoration: none;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 40px;
	line-height: 60px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.tick{
	background: rgba(255,255,255,0.9);
}

.cross{
	background: rgba(255,255,255,0.9);
}


.tick:before {
	content: "✓";
	color:#00FF4D;
	text-align: center;
	
}

.cross:before {
	content: "✗";
	color:#FF0044;
	text-align: center;
}


.effect1 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	
}

.effect1 .tick:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 5px #00FF4D;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.effect1 .cross:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 5px #FF0044;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}


.effect2 .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.effect2 .tick:hover {
	
	box-shadow: 0 0 0 8px rgba(0, 255, 77,0.5);
	color: #fff;
}
.effect2 .cross:hover {
	
	box-shadow: 0 0 0 8px rgba(255, 0, 68,0.5);
	color: #fff;
}
