*{
    margin:0;
    padding:0;
}
body{
    background: #99BBFF;
    font-family:Georgia;
    font-size: 34px;
    letter-spacing:-1px;
    width:112000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
.section{
    margin:10px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
   
}

.section p{
	color: black;
    margin-top: 0.5em;
	font-size: 20px;
    letter-spacing: 1px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
    text-transform:capitalize;
	width: 100%;
	margin-left: 450px;
}

.section h1{
	color: black;
    margin-top: 0.5em;
	font-size: 24px;
    letter-spacing: 1px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
    text-transform:capitalize;
	width: 100%;
	margin-left: 300px;
}

.section h2{
	color: black;
    margin-top: 0.5em;
	font-size: 24px;
    letter-spacing: 1px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
    text-transform:capitalize;
	width: 100%;
	margin-left: 420px;
}

.section h3{
	color: black;
    margin-top: 0.5em;
	font-size: 24px;
    letter-spacing: 1px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
    text-transform:capitalize;
	width: 100%;
	margin-left: 380px;
}




#page1{
	background-color:#FFED66;
	box-shadow:10px -7px 4px rgba(255, 168, 212,0.9),16px -12px 4px rgba(200, 133, 255,0.8);
	padding-top: 50px;
	height:480px;
	width:400px;
	margin: 50px 500px 50px 500px ;
	text-align:center;
	float:left;
}

#page2{
	background-color:#FF95CA;
	box-shadow:10px -7px 2px rgba(200, 133, 255,0.9),16px -12px 2px rgba(240, 240, 240,0.8);
	padding-top: 50px;
	height:480px;
	width:400px;
	margin: 50px 500px 50px 500px ;
	text-align:center;
	float:left;
}

#page3{
	background-color:#C885FF;
	box-shadow:10px -7px 2px rgba(240, 240, 240,0.9),16px -12px 2px rgba(168, 255, 189,0.8);
	padding-top: 50px;
	height:480px;
	width:400px;
	margin: 50px 500px 50px 500px ;
	text-align:center;
	float:left;
}

#page4{
	background-color:#F0F0F0;
	box-shadow:10px -7px 2px rgba(168, 255, 189,0.9),16px -12px 2px rgba(255,237,102,0.8);
	padding-top: 50px;
	height:480px;
	width:400px;
	margin: 50px 500px 50px 500px ;
	text-align:center;
	float:left;
}

#page5{
	background-color:#A8FFBD;
	box-shadow:10px -7px 2px rgba(255,237,102,0.9),16px -12px 2px rgba(255, 168, 212,0.8);
	padding-top: 50px;
	height:480px;
	width:400px;
	margin: 50px 500px 50px 500px ;
	text-align:center;
	float:left;
}

.Img{
	margin-top: 50px;
	padding: 50px;
	float:left;
}
/****************************          結果       **********************************/
#canvas .circle {
			display: inline-block;
			margin: 1em;
		}

#canvas{
	
	margin-left: 350px;
	overflow: hidden;
}

.button1,.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 20px;
	font-family: serif;
	font-weight: bold;
    text-transform:capitalize;
    text-align: center;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
	position: absolute;
	margin: 50px 0px 0px 500px;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
	position: absolute;
	margin: 50px 0px 0px 800px;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
#section26 a{
	text-decoration:none;
}
/******************       page0        ****************************/
.button3 {
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 20px;
	font-family: serif;
	font-weight: bold;
    text-transform:capitalize;
    text-align: center;
}
.button3 {
    background-color: white;
    color: black;
    border: 4px  solid #4A4AFF;
	position: absolute;
	margin: 50px 0px 0px 650px;
}

.button3:hover {
    background-color: #ffaad5;
    color: white;
}
